.banner-container {
  width: 100%;
  position: fixed;
  top: 0px;
  display: flex;
  justify-content: center;
}

.banner {
  position: relative;
  height: 50px;
  width: 85vw;
  background-color: rgb(244, 155, 155, 0.8);
  border: 2px solid white;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;

  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.close-button {
  position: absolute;
  right: 20px;
}
